@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <p class="text fs-4 fw-semibold text-center">
            <span class="blue-white-color">Đăng nhập</span>
        </p>

        <!-- Form đăng nhập thông thường -->
        <form asp-action="Login">
            <div class="mb-3">
                <label  class="form-label">Căn cước công dân</label>
                <input class="form-control" placeholder="Nhập số căn cước công dân"/>
            </div>

            <div class="mb-3">
                <label class="form-label">Mật khẩu</label>
                <input class="form-control" placeholder="Mật khẩu" />
            </div>

            <a asp-area="User" asp-controller="Home" asp-action="Home"
               class="btn btn-success text-white w-100"
               style="background-color: #2D207A;">
                Đăng nhập
            </a>


            <p class="text-center mt-2">
               Bạn đã có tài khoản?
                <a asp-controller="Account" asp-action="Register" class="text-decoration-none">Đăng ký</a>
            </p>
        </form>
    </div>
</div>

