@model QLTraiTreMoCoi.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <p class="text fs-4 fw-semibold text-center">
            <span class="blue-white-color">Đăng nhập</span>
        </p>

        <!-- Form đăng nhập -->
        <form asp-action="Login" asp-controller="Account" method="post">
            <div class="mb-3">
                <label asp-for="CCCD" class="form-label">Căn cước công dân</label>
                <input asp-for="CCCD" class="form-control" placeholder="Nhập số căn cước công dân" />
                <span asp-validation-for="CCCD" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">Mật khẩu</label>
                <input asp-for="Password" class="form-control" placeholder="Mật khẩu" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success text-white w-100" style="background-color: #2D207A;">
                Đăng nhập
            </button>

            <p class="text-center mt-2">
                Bạn chưa có tài khoản?
                <a asp-controller="Account" asp-action="Register" class="text-decoration-none">Đăng ký</a>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
