<div class="d-flex">
    <div style="height: calc(100vh - 179px); width: 22%;"></div>

    <div class="px-5 py-3" style="background-color: #e0e0e0; min-height: 50vh; width: 78%;">
        <div class="">
            <p class="fs-5">XÁC NHẬN TRẺ</p>
            <div class="shadow bg-white rounded p-5 position-relative" style="width: 50vw">
                <a href="" class="position-absolute" style="top: 15px; right: 20px;"><i class="fa-solid fa-xmark fs-4 text-black"></i></a>
                <form action="" class="d-flex align-items-start gap-5">
                    <div class="d-flex align-items-center flex-column gap-3" style="width: 30%;">
                        <img id="previewImage" src="~/images/image 4.png" class="w-100" style="height: 200px; object-fit: cover;" alt="Preview">

                        <input type="file" id="imageUpload" accept="image/*" style="display: none;">
                        <button id="uploadBtn" class="bg-primary-color text-white px-3 py-2 rounded" type="button">
                            Upload <i class="fa-solid fa-download"></i>
                        </button>
                    </div>
                    <div style="width: 65%;" class="d-flex flex-column gap-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="fw-bold" for="">Họ và tên:</label>
                            <input style="width: 58%;" class="border-1 border-black px-3 py-2" type="text" name="" id="" value="Nguyễn Phước Kỳ">
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="fw-bold" for="">Giới Tính:</label>
                            <input style="width: 58%;" class="border-1 border-black px-3 py-2" type="text" name="" id="" value="Nam">
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="fw-bold" for="">Ngày sinh:</label>
                            <input style="width: 58%;" class="border-1 border-black px-3 py-2" type="datetime" name="" id="" value="15-01-2004">
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="fw-bold" for="">Nơi sinh:</label>
                            <input style="width: 58%;" class="border-1 border-black px-3 py-2" type="text" name="" id="" value="Quảng Trị">
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="fw-bold" for="">Số giấy khai sinh:</label>
                            <input style="width: 58%;" class="border-1 border-black px-3 py-2" type="text" name="" id="" value="19844282124">
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="fw-bold" for="">Dân tộc:</label>
                            <input style="width: 58%;" class="border-1 border-black px-3 py-2" type="text" name="" id="" value="Kinh">
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="fw-bold" for="">Tình trạng sức khỏe:</label>
                            <input style="width: 58%;" class="border-1 border-black px-3 py-2" type="text" name="" id="" value="Bình thường">
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="fw-bold" for="">Trạng thái:</label>
                            <input style="width: 58%;" class="border-1 border-black px-3 py-2" type="text" name="" id="" value="Chưa rời trại">
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="fw-bold" for="">Hoàn cảnh:</label>
                            <select style="width: 58%;" class="border-1 border-black px-3 py-2" name="" id="">
                                <option selected value="">Trẻ bị bỏ rơi</option>
                            </select>
                        </div>

                        <div class="d-flex justify-content-end gap-4 mt-3 align-items-center">
                            <button class="btn btn-primary" type="submit">Xác nhận</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const uploadBtn = document.getElementById('uploadBtn');
        const imageInput = document.getElementById('imageUpload');
        const previewImage = document.getElementById('previewImage');

        uploadBtn.addEventListener('click', () => {
            imageInput.click();
        });

        imageInput.addEventListener('change', (event) => {
            console.log(1111);

            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    previewImage.src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
    });
</script>