@{ 
     ViewData["Title"] = "Danh sách trẻ"; 
     Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; 
} 
<div class="d-flex">
    <div style="height: calc(100vh - 179px); width: 22%;"></div>

    <div class="px-5 py-3" style="background-color: #e0e0e0; min-height: 50vh; width: 78%;">
        <div class="">
            <p class="fs-5">DANH SÁCH TRẺ EM</p>
            <div class="shadow bg-white rounded p-5 position-relative">
                <div class="d-flex justify-content-end mb-3 gap-3">
                    <!-- Ô lọc giới tính -->
                    <select id="genderFilter" class="form-select w-25">
                        <option value="">Tất cả giới tính</option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                    <input type="text" id="searchInput" class="form-control w-25" placeholder="Tìm kiếm theo tên...">
                    <a asp-area="Admin" asp-controller="Home" asp-action="CreateChild" class="btn btn-primary">
                        Thêm trẻ
                    </a>

                </div>
                <table class="table table-bordered align-middle">
                    <thead class="table-primary text-center">
                        <tr>
                            <th>Ảnh</th>
                            <th>Họ và tên</th>
                            <th>Giới tính</th>
                            <th>Ngày sinh</th>
                            <th>Hoàn cảnh</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody id="childrenTable">
                        <tr>
                            <td class="text-center">
                                <img src="./images/image 4.png" alt="Avatar" style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px;">
                            </td>
                            <td class="text-center">Nguyễn Phước Kỳ111</td>
                            <td class="text-center">Nữ</td>
                            <td class="text-center">15-01-2004</td>
                            <td>Trẻ bị bỏ rơi</td>
                            <td class="text-center">
                                <a asp-area="Admin" asp-controller="Home" asp-action="EditChild" class="btn btn-sm btn-info text-white">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <button class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <img src="./images/image 4.png" alt="Avatar" style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px;">
                            </td>
                            <td class="text-center">Nguyễn Phước Kỳ111</td>
                            <td class="text-center">Nữ</td>
                            <td class="text-center">15-01-2004</td>
                            <td>Trẻ bị bỏ rơi</td>
                            <td class="text-center">
                                <a asp-area="Admin" asp-controller="Home" asp-action="EditChild" class="btn btn-sm btn-info text-white">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <button class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <img src="./images/image 4.png" alt="Avatar" style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px;">
                            </td>
                            <td class="text-center">Nguyễn Phước Kỳ111</td>
                            <td class="text-center">Nữ</td>
                            <td class="text-center">15-01-2004</td>
                            <td>Trẻ bị bỏ rơi</td>
                            <td class="text-center">
                                <a asp-area="Admin" asp-controller="Home" asp-action="EditChild" class="btn btn-sm btn-info text-white">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <button class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <img src="./images/image 4.png" alt="Avatar" style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px;">
                            </td>
                            <td class="text-center">Nguyễn Phước Kỳ222</td>
                            <td class="text-center">Nữ</td>
                            <td class="text-center">15-01-2004</td>
                            <td>Trẻ bị bỏ rơi</td>
                            <td class="text-center">
                                <a asp-area="Admin" asp-controller="Home" asp-action="EditChild" class="btn btn-sm btn-info text-white">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <button class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <img src="./images/image 4.png" alt="Avatar" style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px;">
                            </td>
                            <td class="text-center">Nguyễn Phước Kỳ222</td>
                            <td class="text-center">Nam</td>
                            <td class="text-center">15-01-2004</td>
                            <td>Trẻ bị bỏ rơi</td>
                            <td class="text-center">
                                <a asp-area="Admin" asp-controller="Home" asp-action="EditChild" class="btn btn-sm btn-info text-white">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <button class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <img src="./images/image 4.png" alt="Avatar" style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px;">
                            </td>
                            <td class="text-center">Nguyễn Phước Kỳ222</td>
                            <td class="text-center">Nam</td>
                            <td class="text-center">15-01-2004</td>
                            <td>Trẻ bị bỏ rơi</td>
                            <td class="text-center">
                                <a asp-area="Admin" asp-controller="Home" asp-action="EditChild" class="btn btn-sm btn-info text-white">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <button class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <img src="./images/image 4.png" alt="Avatar" style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px;">
                            </td>
                            <td class="text-center">Nguyễn Phước Kỳ333</td>
                            <td class="text-center">Nam</td>
                            <td class="text-center">15-01-2004</td>
                            <td>Trẻ bị bỏ rơi</td>
                            <td class="text-center">
                                <a asp-area="Admin" asp-controller="Home" asp-action="EditChild" class="btn btn-sm btn-info text-white">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <button class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <img src="./images/image 4.png" alt="Avatar" style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px;">
                            </td>
                            <td class="text-center">Nguyễn Phước Kỳ333</td>
                            <td class="text-center">Nam</td>
                            <td class="text-center">15-01-2004</td>
                            <td>Trẻ bị bỏ rơi</td>
                            <td class="text-center">
                                <a asp-area="Admin" asp-controller="Home" asp-action="EditChild" class="btn btn-sm btn-info text-white">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <button class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <img src="./images/image 4.png" alt="Avatar" style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px;">
                            </td>
                            <td class="text-center">Nguyễn Phước Kỳ333</td>
                            <td class="text-center">Nam</td>
                            <td class="text-center">15-01-2004</td>
                            <td>Trẻ bị bỏ rơi</td>
                            <td class="text-center">
                                <a asp-area="Admin" asp-controller="Home" asp-action="EditChild" class="btn btn-sm btn-info text-white">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <button class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav class="d-flex justify-content-center mt-4">
                    <ul class="pagination" id="pagination">
                        <!-- JavaScript sẽ tạo nội dung phân trang ở đây -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
<script>